.container {
  width: 400.36px;
  height: 454.96px;
  background: #fafafb;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 35px;
  text-align: center;
}

.text {
  margin-top: 11px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.imageWrap {
  margin-top: 20px;
  width: 338px;
  height: 224.4px;
  border-radius: 12px;
  background: #aaa;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.imageLink {
  margin-top: 34px;
  width: 338px;
  background: #f6f8fb;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.copyText {
  padding-left: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  border: none;
  background: transparent;
  display: block;
  width: 70%;
}

.copyText:focus {
  outline: none;
}

.btn {
  margin: 0 auto;
  border: none;
  width: 101px;
  height: 31.98px;
  background: #2f80ed;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  line-height: 2.2;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.8;
}
